@model Balans.Data.Item

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatalougeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatalougeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TireWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TireWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Friction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Friction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ratio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ratio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TireDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TireDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolumeMeter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateregister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateregister)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
